<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>

<div class="top-bar">
    <h1>商品一覧 <span class="sub-title">商品管理</span></h1>
    <a class="new-button" th:href="@{/admin/products/new}">＋ 新規登録</a>
</div>

<div class="search-container">
    <form th:action="@{/admin/products/search}" method="get" class="search-box">
        <label for="keyword">商品名・商品ID</label>
        <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="商品名またはIDを入力">
        <div class="search-actions">
            <button class="search-button">検索</button>
            <select class="dropdown">
                <option>絞り込み</option>
            </select>
            <select class="dropdown">
                <option>並び替え</option>
            </select>
        </div>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>画像</th>
            <th>商品名</th>
            <th>カテゴリ</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>登録日</th>
            <th>更新日</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">20</td>
            <td><img class="product-img" th:src="@{${product.imagePath}}" 
			     th:attr="data-img=${product.imagePath}" 
			     alt="${product.name}" /></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" th:text="${product.name}">テスト</a>
            </td>
            <td th:text="${product.category.name}">その他</td>
            <td th:text="${@priceFormatter.format(product.price)}">¥2,000</td>
            <td th:text="${product.stock}">100</td>
            <td th:text="${#temporals.format(product.createdAt, 'yyyy/MM/dd')}">2025/04/22</td>
            <td th:text="${#temporals.format(product.updatedAt, 'yyyy/MM/dd')}">2025/04/01</td>
			<form th:action="@{/admin/products/delete/{id}(id=${product.id})}" 
			      class="delete-form" 
				  method="post" 
				  th:attr="data-name=${product.name}">
				<input type="hidden" name="_method" value="delete">
				<td><button type="submit" class="delete-button" th:text="削除">削除</button></td>
			</form>
        </tr>
    </tbody>
</table>

<script src="/js/utils.js"></script>
</body>
</html>
