<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--meta(カッコ)の中にページタイトル記述-->
	<div th:replace="user/fragments :: meta('商品詳細')"></div>
	<!--↓各ページのcss-->
	<link th:href="@{/products.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="user/fragments :: siteHeader"></header>
	<section>
	<!--パンくず-->
	<p><a th:href="@{/}">トップ</a> > <a th:href="@{/products}">商品一覧</a> > <span th:text="${product.name}"></span></p>
		
		<!--商品詳細-->
		<div class="detail_wrap">
			<!--左サイド　商品画像-->
			<div class="detail_left">
				<img th:src="@{${product.imagePath}}" 
					 th:attr="data-img=${product.imagePath}, alt=${product.name}"/>
			</div>
			<!--右サイド　テキスト-->
			<div class="detail_right">
				<!--商品名-->
				<h2 th:text="${product.name}"></h2>
				<!--価格-->
				<p th:text="${@priceFormatter.format(product.price)} + （税込）">価格</p>
				<!--説明文-->
				<p th:text="${product.description}"></p>
			</div>
		</div>
		
		<!--人気５-->
		<div class="pickUp">
			<h3>オンラインショップで人気の商品</h3>
			<ul>
				<li th:each="pickUp : ${pickUp}">
					<a th:href="@{/products_detail/{id}(id=${pickUp.id})}">
						<img th:src="@{${pickUp.imagePath}}" 
						     th:attr="data-img=${pickUp.imagePath}, alt=${pickUp.name}"/>
				    </a>
				</li>
			</ul>
		</div>
		
	</section>
	<footer th:replace="user/fragments :: siteFooter"></footer>
</body>
</html>